<%

var numberToOrdinal = function(i) {
  var j = i % 10,
      k = i % 100;

  if (j == 1 && k != 11) {
    return "_" + i + "st";
  }

  if (j == 2 && k != 12) {
    return "_" + i + "nd";
  }

  if (j == 3 && k != 13) {
    return "_" + i + "rd";
  }

  return "_" + i + "th";
};

var className = fixed ? "content-navigation-fixed" : "content-navigation-visual";
var mostRecentPost = home.get("mostRecentPost");
var mostRecentPostRandomImage = mostRecentPost.getRandomImage();
var contents = home.get("contents");
var navItems = []

if (fixed) {
  navItems.push({
    href: "/",
    imagePath: "",
    title: "Home"
  });
}

navItems.push({
  href: "#content/" + mostRecentPost.get('path'),
  imagePath: mostRecentPostRandomImage.get('fullpath'),
  title: "What's New?"
});

for (var i = 0; i < contents.length; i++) {
  var content = contents.at(i);
  var randomImage = content.getRandomImage();
  var randomImagePath = randomImage ? randomImage.get("fullpath") : "";

  if (!content) {
    console.log("No content found for contents.at(" + i + ")");
    continue;
  }
  else if (!randomImage) {
    console.log("No random image found for " + content.get("title"));
  }
  else if (!randomImagePath) {
    console.log("No random image path found for " + content.get("title"));
  }

  navItems.push({
    href: "#content/" +  content.get('path'),
    imagePath: randomImagePath,
    title: content.get("title")
  });
}

%>

<nav class="content-navigation <%= className %> clearfix" id="content-navigation">
  <ul class="list-unstyled">
    <% for (var i = 0; i < navItems.length; i++) { %>
      <li class="content-navigation-item js-content-navigation-item <%= numberToOrdinal(i + 1) %> scaled-out">
        <a class="content-navigation-item-link button" href="<%= navItems[i].href %>">
          <span class="content-navigation-item-image js-content-navigation-item-image"
               data-nonmobilestyle="background-image: url(<%= navItems[i].imagePath %>);" >
          </span>
          <span  class="content-navigation-item-title">
            <%= navItems[i].title %>
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>