<%

var numberToOrdinal = function(i) {
  var j = i % 10,
      k = i % 100;

  if (j == 1 && k != 11) {
    return "_" + i + "st";
  }

  if (j == 2 && k != 12) {
    return "_" + i + "nd";
  }

  if (j == 3 && k != 13) {
    return "_" + i + "rd";
  }

  return "_" + i + "th";
};

var className = fixed ? "content-navigation-fixed" : "content-navigation-visual";
var mostRecentPost = home.get("mostRecentPost");
var mostRecentPostRandomImage = mostRecentPost.getRandomImage();

%>
<nav class="content-navigation <%= className %> clearfix" id="content-navigation">
  <ul class="list-unstyled">
    <li class="content-navigation-item js-content-navigation-item _1st scaled-out">
      <a class="content-navigation-item-link button" href="#content/<%= mostRecentPost.get('path') %>">
        <span class="content-navigation-item-image js-content-navigation-item-image" 
             data-nonmobilestyle="background-image: url(<%= mostRecentPostRandomImage.get('fullpath') %>);" >
        </span>
        <span class="content-navigation-item-title">
          What's New?
        </span>
      </a>
    </li>
    <% for (var i = 0, contents = home.get("contents"); i < contents.length; i++) { %>
      <% 
      
      var content = contents.at(i);
      var randomImage = content.getRandomImage();
      var randomImagePath = randomImage ? randomImage.get("fullpath") : "";

      if (!content) {
        console.log("No content found for contents.at(" + i + ")");
      }
      else if (!randomImage) {
        console.log("No random image found for " + content.get("title"));
      }
      else if (!randomImagePath) {
        console.log("No random image path found for " + content.get("title"));
      }

      %>

      <li class="content-navigation-item js-content-navigation-item <%= numberToOrdinal(i + 2) %> scaled-out">
        <a class="content-navigation-item-link button" href="#content/<%= content.get('path') %>">
          <span class="content-navigation-item-image js-content-navigation-item-image"
               data-nonmobilestyle="background-image: url(<%= randomImagePath %>);" >
          </span>
          <span  class="content-navigation-item-title">
            <%= content.get("title") %>
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>