<%

var numberToOrdinal = function(i) {
  var j = i % 10,
      k = i % 100;
  if (j == 1 && k != 11) {
    return i + "st";
  }
  if (j == 2 && k != 12) {
    return i + "nd";
  }
  if (j == 3 && k != 13) {
    return i + "rd";
  }
  return i + "th";
};

var mostRecentPost = home.get("mostRecentPost");
var mostRecentPostRandomImage = mostRecentPost.getRandomImage();

%>
<nav class="content-navigation clearfix" id="content-navigation">
  <ul class="list-unstyled">
    <li class="content-navigation-item js-content-navigation-item 1st scaled-out">
      <a class="content-navigation-item-link button" href="#content/<%= mostRecentPost.get('path') %>">
        <img alt="<%= mostRecentPostRandomImage.get('title') %>"
             class="content-navigation-item-image js-content-navigation-item-image" 
             src="<%= mostRecentPostRandomImage.get('fullpath') %>" />
        <span class="content-navigation-item-title">
          What's New?
        </span>
      </a>
    </li>
    <% for (var i = 0, contents = home.get("contents"); i < contents.length; i++) { %>
      <% 
      
      // TODO: We may have a random post that does not have any any images. In
      // this case should we continue finding random posts until we find one
      // that has an image?  Or should we isolate that from the view better by
      // encapsulating that logic in the content model?

      var content = contents.at(i);
      var randomPost = content ? content.getRandomPost() : null;
      var randomImage = randomPost ? randomPost.getRandomImage() : null;
      var randomImagePath = randomImage ? randomImage.get("fullpath") : "";

      if (!content) {
        console.log("No content found for contents.at(" + i + ")");
      }
      else if (!randomPost) { 
        console.log("No random post found for " + content.get("title"));
      }
      else if (!randomImage) {
        console.log("No random image found for " + content.get("title"));
      }
      else if (!randomImagePath) {
        console.log("No random image path found for " + content.get("title"));
      }

      %>

      <li class="content-navigation-item js-content-navigation-item <%= numberToOrdinal(i + 2) %> scaled-out">
        <a class="content-navigation-item-link button" href="#content/<%= content.get('path') %>">
          <img alt=""
               class="content-navigation-item-image js-content-navigation-item-image"
               src="<%= randomImagePath %>" />
          <span  class="content-navigation-item-title">
            <%= content.get("title") %>
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>