<section class="post js-post content-item-container">
  <h3 class="post-title">
    <%= post.get("title") || "--" %>
  </h3>
  <div class="post-content">
    <div class="js-post-content-togglable">
      <%= post.get("html") || "--" %>
    </div>
  </div>
  <ul class="post-images js-post-images list-unstyled uninitialized">
    <% post.get("images").each(function(image, index) { %>
      <li class="post-image-container">
        <a class="js-post-image-link"
          data-itemnum="<%= index %>"
          href="javascript:void(0);">
          <img alt="<%= image.get('caption') %>"
              class="post-image js-post-image js-lazy-load"
              title="<%= image.get('caption') %>"
              src="<%= image.get('thumbnail') ||  image.get('fullpath') %>"
              data-original="TODO: Use src value, and set to blank.gif, when we're lazy loading images"
              data-largeimage="<%= image.get('fullpath') %>" />
          <span class="post-image-caption">
            <%= image.get('caption') %>
          </span>
        </a>
      </li>
    <% }) %>
  </ul>
</section>
